[Unit]
Description=Mender OTA update service
Wants=network-online.target
After=systemd-resolved.service network-online.target

[Service]
Type=idle
User=root
Group=root
ExecStart=/usr/bin/mender -daemon
Restart=on-abort

[Install]
WantedBy=multi-user.target
