[Unit]
Description=Mender OTA update service
Wants=mender-authd.service network-online.target
After=systemd-resolved.service network-online.target mender-client-data-dir.service data.mount
Conflicts=mender.service

[Service]
Type=idle
User=root
Group=root
ExecStart=/usr/bin/mender-update daemon
Restart=always

[Install]
WantedBy=multi-user.target
