BasedOnStyle: Google
Language: Cpp
ColumnLimit: 78
IndentWidth: 4
TabWidth: 4
UseTab: Never
MaxEmptyLinesToKeep: 3
AlignTrailingComments: true
SpacesBeforeTrailingComments: 1
SortIncludes: false
DerivePointerAlignment: false
PointerAlignment: Right
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
BreakStringLiterals: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak
AllowAllParametersOfDeclarationOnNextLine: true
IndentCaseLabels: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
