[submodule "vendor/json"]
	path = src/common/vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/lmdbxx"]
	path = src/common/vendor/lmdbxx
	url = https://github.com/hoytech/lmdbxx.git
[submodule "vendor/tiny-process-library"]
	path = src/common/vendor/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library.git
[submodule "vendor/expected"]
	path = src/common/vendor/expected
	url = https://github.com/TartanLlama/expected.git
[submodule "vendor/optional-lite"]
	path = src/common/vendor/optional-lite
	url = https://github.com/martinmoene/optional-lite.git
[submodule "src/common/vendor/yaml-cpp"]
	path = src/common/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
