# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

*.exe
*.test
*.prof
*.gcda
*.gcno
*.gcov
*.lcov

# Autotools files
*Makefile
*Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/src/common/crypto/platform/openssl/openssl_config.h
/config.log
/config.status
/config.sub
/configure
/configure~
/depcomp
/install-sh
/libtool
/ltmain.sh
/src/mender-version.h
/missing
/stamp-h1
/m4/
*.deps
*.dirstamp

# Test binaries
*_test

# Build artifacts
/mender
/src/mender-auth/mender-auth
/src/mender-update/mender-update
config.h

# Test reports
/reports

# Misc
/.clang-format
build/

# CMake
**/CMakeCache.txt
**/CMakeFiles/
/_deps/
*.cmake
!main.cmake
!/cmake/*.cmake
/Testing
/install_manifest*.txt
