stages:
  - test
  - publish
  - trigger_prep
  - trigger

variables:
  LICENSE_HEADERS_IGNORE_FILES_REGEXP: "./ltmain.sh"
  DEBIAN_FRONTEND: noninteractive
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_DEPTH: 1
  DOCKER_VERSION:
    value: "27.3"
    description: "Version of docker to use in pipelines"

  # mender-artifact version for tests
  MENDER_ARTIFACT_VERSION: 4.2.0

include:
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-github-status-updates.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-commits.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-license.yml'
  - project: 'Northern.tech/Mender/mendertesting'
    file: '.gitlab-ci-check-c++.yml'

default:
  tags:
    # Don't run gitlab hosted runners by default
    - hetzner-amd-beefy

test:no-tests:
  stage: test
  extends: .test:static-template
  script:
    - cmake -D BUILD_TESTS=OFF .
    - make --jobs=$(nproc --all) --keep-going

test:unit:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/debian:11
  before_script:
    - apt update && apt install -yyq g++ cmake git make lcov pkg-config liblmdb++-dev libboost-dev libboost-log-dev libssl-dev libarchive-dev libdbus-1-dev curl dbus stunnel4 tinyproxy-bin netcat wget zstd
    # mender-artifact install
    - wget "https://downloads.mender.io/repos/workstation-tools/pool/main/m/mender-artifact/mender-artifact_${MENDER_ARTIFACT_VERSION}-1%2bdebian%2bbullseye_amd64.deb"
      --output-document mender-artifact.deb
    - apt install --assume-yes --quiet ./mender-artifact.deb
  script:
    - cmake -D COVERAGE=ON .
    - make --jobs=$(nproc --all) --keep-going coverage
  artifacts:
    expire_in: 2w
    reports:
      junit: reports/*.xml
    paths:
      - coverage.lcov

test:backward-compat:
  stage: test
  # Keep the image aligned with the oldest LTS at mender-dist-packages
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/debian:11
  before_script:
    - apt update && apt install -yyq ccache g++ git make lcov pkg-config liblmdb++-dev libboost-dev libboost-log-dev libboost-regex-dev libssl-dev libarchive-dev libdbus-1-dev curl dbus cmake
  script:
    - cmake -D MENDER_DOWNLOAD_BOOST=ON .
    - make --jobs=$(nproc --all) --keep-going

.test:static-template:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/ubuntu:22.04
  tags:
    # QA-866: Ubuntu 24.04 image cannot properly run on sysbox-runc runners
    - hetzner-podman
  before_script:
    - apt update && apt install -yyq ccache clang cmake git make pkg-config liblmdb++-dev libboost-dev libboost-log-dev libssl-dev libarchive-dev libdbus-1-dev curl dbus stunnel4 tinyproxy-bin netcat wget zstd
    # mender-artifact install
    - wget "https://downloads.mender.io/repos/workstation-tools/pool/main/m/mender-artifact/mender-artifact_${MENDER_ARTIFACT_VERSION}-1%2bubuntu%2bjammy_amd64.deb"
      --output-document mender-artifact.deb
    - apt install --assume-yes --quiet ./mender-artifact.deb
    - export CC=$(which clang)
    - export CXX=$(which clang++)
  script:
    - cmake
      -D CMAKE_BUILD_TYPE=${BUILD_TYPE}
      ${EXTRA_CMAKE_ARGS}
      .
    - make --jobs=$(nproc --all) --keep-going check

test:static:asan:
  variables:
    BUILD_TYPE: ASan
  extends: .test:static-template
  tags:
    # hetzner podman fails with result: segmentation fault
    # falling back to gcp runners
    - mender-qa-worker-generic-light

test:static:threadsan:
  extends: .test:static-template
  variables:
    BUILD_TYPE: ThreadSan
  tags:
    # hetzner podman fails with result: segmentation fault
    # falling back to gcp runners
    - mender-qa-worker-generic-light

test:static:undefinedsan:
  extends: .test:static-template
  variables:
    BUILD_TYPE: UndefSan

test:static:release:
  variables:
    BUILD_TYPE: Release
  extends: .test:static-template

test:static:no-dbus:
  variables:
    EXTRA_CMAKE_ARGS: -D MENDER_USE_DBUS=OFF -D MENDER_EMBED_MENDER_AUTH=ON
  extends: .test:static-template

test:modules-artifact-gen:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/ubuntu:22.04
  tags:
    # QA-866: Ubuntu 24.04 image cannot properly run on sysbox-runc runners
    - hetzner-podman
  before_script:
    - apt update && apt install -yy $(cat support/modules-artifact-gen/tests/deb-requirements.txt)
    # mender-artifact
    - curl -fsSL https://downloads.mender.io/repos/debian/gpg | tee /etc/apt/trusted.gpg.d/mender.asc
    - echo "deb [arch=$(dpkg --print-architecture)] https://downloads.mender.io/repos/workstation-tools ubuntu/jammy/stable main" | tee /etc/apt/sources.list.d/mender.list
    - apt update && apt install -yy mender-artifact
    # Test dependencies
    - pip install -r support/modules-artifact-gen/tests/requirements.txt
  script:
    - python3 -m pytest support/modules-artifact-gen/tests

test:docker:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}
  needs: []
  services:
    - name: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/docker:${DOCKER_VERSION}-dind
      alias: docker
  stage: test
  script:
    - ./tests/build-docker

publish:tests:
  stage: publish
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/python:3.11
  dependencies:
    - test:unit
  before_script:
    # Install dependencies
    - apt update && apt install -yyq lcov
    - pip install cpp-coveralls pyyaml

    # eddyxu/cpp-coveralls appears dead, but there doesn't seem to be an
    # alternative. Use this patch from someone who attempted to fix it. An
    # alternative to this is to use pyyaml<6, but it's better to use just one
    # old component than two.
    - curl -f https://github.com/eddyxu/cpp-coveralls/commit/067c837c04e039e8c70aa53bceda1cded6751408.patch | patch -f /usr/local/lib/python3.11/site-packages/cpp_coveralls/__init__.py

    # Set "TRAVIS_*" variables based on GitLab ones
    - export TRAVIS_BRANCH=$CI_COMMIT_BRANCH
    - export TRAVIS_JOB_ID=$CI_PIPELINE_ID

  script:
    - 'echo "service_name: gitlab-ci" > .coveralls.yml'
    - cpp-coveralls
      --repo-token ${COVERALLS_TOKEN}
      --no-gcov
      --lcov-file coverage.lcov

generate-qa-trigger:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/python:alpine
  stage: trigger_prep
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(master|[0-9]+\.[0-9]+\.x)$/'
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
  before_script:
    - apk add --no-cache git
    - pip3 install pyyaml
    - wget -q https://raw.githubusercontent.com/mendersoftware/mender-qa/master/scripts/generate_client_publish_job.py
  script:
    - python generate_client_publish_job.py --trigger ${CI_PROJECT_NAME} --version ${CI_COMMIT_REF_NAME} --filename gitlab-ci-client-qemu-publish-job.yml
  artifacts:
    paths:
      - gitlab-ci-client-qemu-publish-job.yml

trigger:mender-qa:
  stage: trigger
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(master|[0-9]+\.[0-9]+\.x)$/'
    # the following is to prevent an endless loop of qa pipelines caused by downstream pipelines
    - if: '$CI_PIPELINE_SOURCE == "pipeline"'
      when: never
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
  trigger:
    include:
      - artifact: gitlab-ci-client-qemu-publish-job.yml
        job: generate-qa-trigger

trigger:integration:
  stage: trigger
  inherit:
    variables: false
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
  trigger:
    project: Northern.tech/Mender/integration
    branch: master
    strategy: depend
