language: go

# Golang version matrix
go:
- 1.5.1

before_install:
# Install code coverage / coveralls tooling
- go get -u github.com/axw/gocov/gocov
- go get -u github.com/mattn/goveralls
- go get -u golang.org/x/tools/cmd/cover

# Merge all subpackage code coverage reports into a single report
- go get -u github.com/modocache/gover

before_script:
# Print build info that binary is compiled with.
- echo $TRAVIS_COMMIT
- echo $TRAVIS_TAG
- echo $TRAVIS_BRANCH
- echo $TRAVIS_BUILD_NUMBER

# Test if code was formatted with 'go fmt'
# Command will format code and return modified files
# fail if any have been modified.
- if [ -n "$(go fmt)" ]; then echo 'Code is not formatted with "go fmt"'; false; fi

# Perform static code analysys
- go vet ./...

script:
# go list supply import paths for all sub directories.
# Exclude Godeps directory, we don't want to run tests and coverage for all dependencies every time,
# also including their coverage may introduce to much noice. Concentrate on the coverage of local packages.
# Execute go test on every local subpackage (resolved as dependencies) and generate covreage report for each.
# Test packages pararell (xargs -P)
- go list ./... | grep -v Godeps | xargs -n1 -I {} -P 4 go test -v -covermode=count -coverprofile=../../../{}/profile.coverprofile {}

# Merge all coverage reports located in subdirectories and put them under: gover.coverprofile
- gover

# Repotoken should not be public (can be regenerated if needed).
# Token is defined per github repository, generated by coveralls.com
# It will be different for forks and other repositories.
- goveralls -service=travis-pro -repotoken='LkVhvJ6mYcW7mv8kosVqDZF5TXoPNIh8T' -coverprofile=gover.coverprofile

# Insert build information into compiled binary using ldflags
- go build -ldflags "-X main.Commit=`echo $TRAVIS_COMMIT` -X main.Tag=`echo $TRAVIS_TAG` -X main.Branch=`echo $TRAVIS_BRANCH` -X main.BuildNumber=`echo $TRAVIS_BUILD_NUMBER`"

after_success:
# Make build client directory and copy all artifacts to this directory.
- mkdir build
- cp client build/

deploy:
# In case tag is set. Deploy build as github release.
- provider: releases
  api_key:
   secure: DNjsTRuSjEeJip6CXu3J5ptw1Bt4o6zgmsiJVN7XcyN0PQsCyNibHnZDNo9UAA4HBHkOEYdVoN+9eiiA8ZBcrXZtU6ZS24T7UcTsitXLXuhvHiDG8V1gZlmXQ8GaG7bi6hbP+o+A/VTZIq1BNxPjedeXyCUMFnzh4248gVMX8y79axsWSPMYjZHQ/mhvBZStsc3zurmsWdxeYnbVYx9fVc/vrOUcczbt/xkrjL3099LGMVmlHm+3xNau53GOZCnA1CYYMDR3a0gu0bVD7LH5br6Iz71GJ0eKn79fGl243FHJPfZqVy0HuMLmywlKBx8QSISaplVCEHUns+KJSFO18j29q16FM5saFPlsJaHRFefZk8Dci8DWFVQQG00x61CaaT7t+/q55L8ZGvVQmABOpfBnqhaQKns2L2P65i6GANSU+UUG0hwMXujWHMy4iqRIXcwcOULPKSx7JVrfpFNlpoR2ZDWUmGMyTkkB8mcmlDD7DtZrNp36PTOCoaaIsnNaamKktHqL+sCQKUoeVRjfg7vU0rokU0xQVMqZtueBZoNKanEzJW5a9zex+Nb9Gc2fBdjS8vEtwRemDKLzrCbZNlIAqUrW7cX6SyIsBLgRpIVMaYVUh3WZGi3Md+PBbBWKls9UK8PcZpIPMlTfA1NOheh+9Nl+RHlMp6im24LQIAw=
  file: build/client
  on:
   repo: mendersoftware/client
   tags: true
   all_branches: true

# Deploy tag builds to S3 in structure /release/tag/os_arch/
- provider: s3
  access_key_id:
   secure: urZK1koSPtt2ZcX7UBlS8vlFrGPR2JeWJ5yo7YTdJYYOwnuW0DqZlCUnngTcmawJPEXu0ys+/KZuGLXsTVHfwhYJucb23tJNd0Oik5Xh720gHPlBvdb6e0jjMKItSpeqKtxbjjY/zV8b/0krwy5Uxgw+5YIcJOFOoM3d7XalFvikGRMN+5fB9NHhQZYj35n0CGUDNXfVSc5xqfVuipRd7u4BHofcFOV55KOWZcD7S9JBwCZZTly4Euwqys2O8FNFBjMew2MIP4FM2k7SvOhZwg7vyJEjBw7WQV5J5yObg/w94Mlnf+okFZ5rKynV9H3fDpepXIcuccm9ON8CYZr/F9pleXwr7EmEDqS5BMt23c+ZI5c0PCCDu8dElvDN6HqtExy0V5+B1XlfBszQYNY5u9hFl3Ye1I+WgosHstz3qUxxzbyW0+/p1LEF4AhzfKkokmGjprdo9XsjNprACOB+0zoQ2BmjVkorfBP55Ny+0L/b4dwKCooF6q7DyFSRmQOgKpP3RnkJd8EZGMcyyCIWEUXlg+O3cColK3RqBcFNxar0lqKx2cTkRFQBVTnWUBmeUVCO3DUzHtNpd0vMMiA7sO3NVU6JICOFgQXsJI5hIPLWBqUsoI6d/CEDn2Wj1dQqi9vLlqirkVL8O4sFSPo2zwBhakAxoiVt0ge/rZCx1UM=
  secret_access_key:
   secure: lLKjEWXt54QRxzYR98cV+z+IwWpbU+PgzqpzDIp1IJLCfACIoKS8NRhOhzPWFUfV5MoVWkJvkWfDh9oOSo6NtoShmGp1mOXw8ZfGqxnHT4ltUK6MLqiCBID72A/VBB+/rR3dK/kIzEG8MKgemAzrLBdZOUadQsvp75l3jjWuIPeZMpK2+xuVNq4oSQ4urLuOKbM28M/pe3I2LhJcQAGLDBimjt3RpCg6LhukQDHyhfaKVTnzye5JkxNHehyHZeAbfCt1EQG+6/39ETuQ2PgpyhZLJIIDDRQEsapzTcGWPMRftWDIrAsIbBP3zcHSH4+ICAbgqhOxcRsWAGmxtj2Sigb8FUJ5mzj7hE2Y5htk+9ij/SHu1ClyxFrhyj1wf+BP9JwByhWQcm4hhRzP402eT6/wuEvzAQWrSwXT9YLm1Zvi+ULy/RB9//lu6wjzloyR8VPDdwng5WVk5oLXBL9+pC/6PrJl0jD70rIf/mCaHN2T0xl+c5SwR5/t0H4XBsfmUmtRY8SgKjdAvA6QORVuYodM1tFCVIsnlddqr8hFKNkiYHZ20g6qck4FcPsUUa05zzn023QM2alU95Me11Fz2+Ie85htr+Ove8Iq/pBNWHvoQ6JY9Nqh5WY7gbeVUDd7WM2TZeBq6McVzLfoJr6G+o5ztUvRWpZp6+f3Zze9RNk=
  bucket: mender-buildsystem
  region: eu-west-1
  upload-dir: services/client/release/$TRAVIS_TAG/`go env GOOS`_`go env GOARCH`
  local_dir: build
  skip_cleanup: true
  on:
   repo: mendersoftware/client
   tags: true
   all_branches: true

# Deploy all development builds to S3 in structure /dev/branch/build/os_arch/
- provider: s3
  access_key_id:
   secure: urZK1koSPtt2ZcX7UBlS8vlFrGPR2JeWJ5yo7YTdJYYOwnuW0DqZlCUnngTcmawJPEXu0ys+/KZuGLXsTVHfwhYJucb23tJNd0Oik5Xh720gHPlBvdb6e0jjMKItSpeqKtxbjjY/zV8b/0krwy5Uxgw+5YIcJOFOoM3d7XalFvikGRMN+5fB9NHhQZYj35n0CGUDNXfVSc5xqfVuipRd7u4BHofcFOV55KOWZcD7S9JBwCZZTly4Euwqys2O8FNFBjMew2MIP4FM2k7SvOhZwg7vyJEjBw7WQV5J5yObg/w94Mlnf+okFZ5rKynV9H3fDpepXIcuccm9ON8CYZr/F9pleXwr7EmEDqS5BMt23c+ZI5c0PCCDu8dElvDN6HqtExy0V5+B1XlfBszQYNY5u9hFl3Ye1I+WgosHstz3qUxxzbyW0+/p1LEF4AhzfKkokmGjprdo9XsjNprACOB+0zoQ2BmjVkorfBP55Ny+0L/b4dwKCooF6q7DyFSRmQOgKpP3RnkJd8EZGMcyyCIWEUXlg+O3cColK3RqBcFNxar0lqKx2cTkRFQBVTnWUBmeUVCO3DUzHtNpd0vMMiA7sO3NVU6JICOFgQXsJI5hIPLWBqUsoI6d/CEDn2Wj1dQqi9vLlqirkVL8O4sFSPo2zwBhakAxoiVt0ge/rZCx1UM=
  secret_access_key:
   secure: lLKjEWXt54QRxzYR98cV+z+IwWpbU+PgzqpzDIp1IJLCfACIoKS8NRhOhzPWFUfV5MoVWkJvkWfDh9oOSo6NtoShmGp1mOXw8ZfGqxnHT4ltUK6MLqiCBID72A/VBB+/rR3dK/kIzEG8MKgemAzrLBdZOUadQsvp75l3jjWuIPeZMpK2+xuVNq4oSQ4urLuOKbM28M/pe3I2LhJcQAGLDBimjt3RpCg6LhukQDHyhfaKVTnzye5JkxNHehyHZeAbfCt1EQG+6/39ETuQ2PgpyhZLJIIDDRQEsapzTcGWPMRftWDIrAsIbBP3zcHSH4+ICAbgqhOxcRsWAGmxtj2Sigb8FUJ5mzj7hE2Y5htk+9ij/SHu1ClyxFrhyj1wf+BP9JwByhWQcm4hhRzP402eT6/wuEvzAQWrSwXT9YLm1Zvi+ULy/RB9//lu6wjzloyR8VPDdwng5WVk5oLXBL9+pC/6PrJl0jD70rIf/mCaHN2T0xl+c5SwR5/t0H4XBsfmUmtRY8SgKjdAvA6QORVuYodM1tFCVIsnlddqr8hFKNkiYHZ20g6qck4FcPsUUa05zzn023QM2alU95Me11Fz2+Ie85htr+Ove8Iq/pBNWHvoQ6JY9Nqh5WY7gbeVUDd7WM2TZeBq6McVzLfoJr6G+o5ztUvRWpZp6+f3Zze9RNk=
  bucket: mender-buildsystem
  region: eu-west-1
  upload-dir: services/client/dev/$TRAVIS_BRANCH/$TRAVIS_BUILD_NUMBER/`go env GOOS`_`go env GOARCH`
  local_dir: build
  skip_cleanup: true
  on:
   repo: mendersoftware/client
   tags: false
   all_branches: true

# Deploy all builds to S3 as latest folder /latest/branch/os_arch
- provider: s3
  access_key_id:
   secure: urZK1koSPtt2ZcX7UBlS8vlFrGPR2JeWJ5yo7YTdJYYOwnuW0DqZlCUnngTcmawJPEXu0ys+/KZuGLXsTVHfwhYJucb23tJNd0Oik5Xh720gHPlBvdb6e0jjMKItSpeqKtxbjjY/zV8b/0krwy5Uxgw+5YIcJOFOoM3d7XalFvikGRMN+5fB9NHhQZYj35n0CGUDNXfVSc5xqfVuipRd7u4BHofcFOV55KOWZcD7S9JBwCZZTly4Euwqys2O8FNFBjMew2MIP4FM2k7SvOhZwg7vyJEjBw7WQV5J5yObg/w94Mlnf+okFZ5rKynV9H3fDpepXIcuccm9ON8CYZr/F9pleXwr7EmEDqS5BMt23c+ZI5c0PCCDu8dElvDN6HqtExy0V5+B1XlfBszQYNY5u9hFl3Ye1I+WgosHstz3qUxxzbyW0+/p1LEF4AhzfKkokmGjprdo9XsjNprACOB+0zoQ2BmjVkorfBP55Ny+0L/b4dwKCooF6q7DyFSRmQOgKpP3RnkJd8EZGMcyyCIWEUXlg+O3cColK3RqBcFNxar0lqKx2cTkRFQBVTnWUBmeUVCO3DUzHtNpd0vMMiA7sO3NVU6JICOFgQXsJI5hIPLWBqUsoI6d/CEDn2Wj1dQqi9vLlqirkVL8O4sFSPo2zwBhakAxoiVt0ge/rZCx1UM=
  secret_access_key:
   secure: lLKjEWXt54QRxzYR98cV+z+IwWpbU+PgzqpzDIp1IJLCfACIoKS8NRhOhzPWFUfV5MoVWkJvkWfDh9oOSo6NtoShmGp1mOXw8ZfGqxnHT4ltUK6MLqiCBID72A/VBB+/rR3dK/kIzEG8MKgemAzrLBdZOUadQsvp75l3jjWuIPeZMpK2+xuVNq4oSQ4urLuOKbM28M/pe3I2LhJcQAGLDBimjt3RpCg6LhukQDHyhfaKVTnzye5JkxNHehyHZeAbfCt1EQG+6/39ETuQ2PgpyhZLJIIDDRQEsapzTcGWPMRftWDIrAsIbBP3zcHSH4+ICAbgqhOxcRsWAGmxtj2Sigb8FUJ5mzj7hE2Y5htk+9ij/SHu1ClyxFrhyj1wf+BP9JwByhWQcm4hhRzP402eT6/wuEvzAQWrSwXT9YLm1Zvi+ULy/RB9//lu6wjzloyR8VPDdwng5WVk5oLXBL9+pC/6PrJl0jD70rIf/mCaHN2T0xl+c5SwR5/t0H4XBsfmUmtRY8SgKjdAvA6QORVuYodM1tFCVIsnlddqr8hFKNkiYHZ20g6qck4FcPsUUa05zzn023QM2alU95Me11Fz2+Ie85htr+Ove8Iq/pBNWHvoQ6JY9Nqh5WY7gbeVUDd7WM2TZeBq6McVzLfoJr6G+o5ztUvRWpZp6+f3Zze9RNk=
  bucket: mender-buildsystem
  region: eu-west-1
  upload-dir: services/client/latest/$TRAVIS_BRANCH/`go env GOOS`_`go env GOARCH`
  local_dir: build
  skip_cleanup: true
  on:
   repo: mendersoftware/client
