# Default owners for everything
* @mendersoftware/client-dependabot-reviewers

# Test directories
/support/modules-artifact-gen/tests/ @mendersoftware/client-dependabot-reviewers
/tests/ @mendersoftware/client-dependabot-reviewers
