{
  "ClientProtocol": "http",
  "HttpsClient": {
    "SkipVerify": true
  },
  "PollIntervalSeconds": 60,
  "ServerCertificate": "",
  "ServerURL": "localhost:9080",
  "ArtifactVerifyKey": "/path/to/key.pub"
}

